@import "pods";
@import "ember-bootstrap/bootstrap";
@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome);

body {
  padding-bottom: 70px;
  background-color: #f4f1d6;
}

.message-bar {
  height: 70px;
  padding-top: 13px;

}
p {
  background-color: white;
}

.alert-chat {
  padding: 5px;
}

.label-user {
  font-size: 100%;
  font-weight: normal;
}

.nav-links {
  padding: 10px;
}

.nav-links a.active {
  text-decoration: underline;
}
