@import "pods";
@import "ember-bootstrap/bootstrap";
@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome);

body {
  padding-bottom: 70px;
  background-image: url('http://68.media.tumblr.com/ada7b30b81936623ecc0472983b450da/tumblr_inline_nv6a59DrHr1txqg2v_500.jpg');
  -webkit-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;
}

.message-bar {
  height: 70px;
  padding-top: 13px;

}
p {
  background-color: white;
}

.alert-chat {
  padding: 5px;
}

.label-user {
  font-size: 100%;
  font-weight: normal;
}

.nav-links {
  padding: 10px;
}

.nav-links a.active {
  text-decoration: underline;
}
