<div class="container">
  {{partial 'navbar'}}
</div>
<br>
<br>
<div class="container">
  <div class="page-header">
    <h1>Sports, Politics, Etc:
      <small>What are your thoughts?...Join the chat and start your Debate.</small>
  </h1>
  </div>
  {{outlet}}
</div>
