<div class="container">
  <div class="page-header">
    <h1>Sports Chat:
      <small>Who's is the favourite to win the NBA Finals.</small>
    <div class="pull-right nav-links">
      {{#link-to "index"}}Home{{/link-to}} |
      {{#link-to "about"}}About{{/link-to}}
    </div>
  </h1>
  </div>

  {{outlet}}
</div>
