<div class="container">
  {{partial 'navbar'}}
</div>
<br>
<br>
<div class="container">
  <div class="page-header">
    <h1>Sports Chat:
      <small>Who's is the favourite to win the NBA Finals.</small>
  </h1>
  </div>
  {{outlet}}
</div>
